<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.apelikecoder.increasingring"
      android:versionName="1.0" android:versionCode="99">
    <application android:icon="@drawable/icon" android:label="@string/app_name" 
                 android:theme="@android:style/Theme.Black">
        <activity android:name=".Main"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".AlarmListener">
            <intent-filter>
               <action android:name="com.android.alarmclock.ALARM_ALERT" />
               <action android:name="com.android.deskclock.ALARM_ALERT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".IncomingCallListener">
			<intent-filter>
				<action	android:name="android.intent.action.PHONE_STATE"/>
			</intent-filter>
        </receiver>
        <activity android:name=".AlarmSettings"/>
        <activity android:name=".RingerSettings"/>
        <activity android:name=".About"/>
        <service android:name=".RingVolumeControlService"/>
        <service android:name=".AlarmVolumeControlService"/>

    </application>
    <uses-sdk android:minSdkVersion="4" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    
    <meta-data android:name="com.a0soft.gphone.aTrackDog.webURL" android:value="http://turn-up.googlecode.com" />
    <meta-data android:name="com.a0soft.gphone.aTrackDog.noMarket" android:value="true" />
    <meta-data android:name="com.a0soft.gphone.aTrackDog.testVersion" android:value="99" />
    
</manifest> 
